<div class="Item hr">
    <!-- <span class="fr">
        <form >姓名/电话:
            <input type="text" name="username" value="" size="10"/>-->      
            <button class="btn submit">打印订单</button> 
        <!--</form>
    </span> -->
    <div class="current">待发货列表</div>
</div>
<empty name="order.list"> <font color="gray" size="8">暂时没有需要发货的订单！</font> <else/>
<form   id="printf">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
        <thead>
            <tr>
                <td>id</td>
                <td>下单人</td>
                <td>收件人</td>
                <td>电话</td>
                <td>地址</td>
                <td>配货比6p/6/5/4</td>
                <td>日期</td>
                <td>备注</td>
                <td>管理</td>
            </tr>
        </thead>
        <tbody>
            <volist name="order.list" id="vo">
            <tr align="center">
                <td>{$vo.id}</td>
                <td>{$vo.name}</td>
                <td>{$vo.recman}</td>
                <td>{$vo.rectel}</td>
                <td>{$vo.recadd}</td>
                <td>{$vo.sixp}/{$vo.six}/{$vo.five}/{$vo.four}</td>
                <td>{$vo.create_time|date="Y-m-d H:i:s",###}</td>
                <td>{$vo.note}</td>
                <td>[<a href="{:U('order/sent', array('id'=>$vo['id']))}">发货</a></if>]
                    [<a href="{:U('order/orderPrint', array('id'=>$vo['id']))}" target="_blank">打印</a></if>]
                </td>
            </tr>
            </volist>
        </tbody>
    </table>
</form>
</empty>
<!-- 提交代理商查询  -->
<script type="text/javascript">
$(".submit").click(function(){
    // commonAjaxSubmit("{:U('order/ordersearch')}");
    // return false;
    document.body.innerHTML=document.getElementById('printf').innerHTML;
    window.print();
});
// function printme()
// {
// document.body.innerHTML=document.getElementById('div1').innerHTML+'<br/>'+document.getElementById('div2').innerHTML;
// window.print();
// }
</script>

<div class="page">
    {$order.show}
</div>
