<div class="header">
    <a href="javascript:history.back()"></a>
	T-star代理商管理平台
 </div>
 <div class="x_main">
      <div class="x_main_content">
	     <div class="x_main_content_t">
		    修改密码
		 </div>
		 <form action="{:U('User/editPassword',array('id'=>$_GET['id']))}" method="post" onsubmit="return checkPass()">
		   <table>
		      <tr>
			     <td class="x_table"><span>输入密码 :</span></td>
				 <td class="y_table"><input type="password" name="pass" id="pass"/></td>
			  </tr>
			  
			  <tr>
			     <td class="x_table"><span>再输一次 :</span></td>
				 <td class="y_table"><input type="password" name="rpass" id="rpass"/></td>
			  </tr>
		   </table>
		   <input type="submit" value="确认修改" />
		 </form>
	  </div>
	  <div class="x_main_box" style="display:none;">
	     <p>
		     <span>修改成功!</span>
		 </p>
	  </div>
 </div>