 <div class="header">
    <a href="javascript:history.back()"></a>
	T-star代理商管理平台
 </div>
 <div class="gr_main">
    <div class="gr_main_top">
	    <div class="gr_main_top_left">
		   <p>
		      <img src="__PUBLIC__/images/home/head.png" />
		   </p>
		</div>
		<div class="gr_main_top_right">
		    <p width="80%">{$info.name}</p>
			<span>级别 :<i>{$info.agent_level}</i></span>
		</div>
	</div>
    <div class="gr_main_bottom">
	  <p>
		 <span>{$info.fid}</span>
		 <i>上级</i>
	  </p>
	  <p>
		 <span>{$info.cost}</span>
		 <i>总消费</i>
	  </p>
	</div>
	<div class="gr_main_list">
	   	<a href="tel://{$info.tel}"><i class="grl_1"></i><span>{$info.tel}</span></a>
	   	<a><i class="grl_2"></i><span>{$info.wechat}</span></a>
	   	<if condition="$info.level neq 1">
	   		<a href="{:U('User/upgrade', array('id'=>$info['id']))}"><i class="grl_5"></i><span>升级申请</span><p></p></a>
	   	<else /></if>
	   	<if condition="$info.level eq 1">
		   	<a href="{:U('User/orderOnline', array('id'=>$info['id']))}"><i class="grl_6"></i><span>在线下单</span><p></p></a>
		   	<a href="{:U('User/order', array('id'=>$info['id']))}"><i class="grl_7"></i><span>我的订单</span><p></p></a>
		<else /></if>
	   <a href="{:U('User/editPassword', array('id'=>$info['id']))}"><i class="grl_4"></i><span>修改密码</span><p></p></a>
	</div>
 </div>