{__NOLAYOUT__}
<!DOCTYPE html>
<html>
    <body>
        <div data-role="page" style=" font-family:'Microsoft YaHei'; background-size:100% 100%; overflow:hidden; ">
            <div align="center">
                <font color="red" size="12">* 您查询的代理商为T-STAR正规授权代理商，请放心购买.</font><br />
                <div style=" width:100%; text-align:center; font-size:40px; color:#F00;">长按以下图片→保存到手机相册</div>
            </div>
            <div style="width:90%; margin:0 auto; overflow:hidden;">
                <img src="{$url}" style="width:100%;height=:100%;">
            </div>
        </div>
    </body>
</html>

