<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
<title>T-star代理商平台</title>
<link href="__PUBLIC__/stylesheets/home/style.css" rel="stylesheet" />
<script src="__PUBLIC__/javascripts/home/jquery.js"></script>
<script src="__PUBLIC__/javascripts/home/main.js"></script>
</head>
<body>

	{__CONTENT__}
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?bf055ca7d3ab1e1971f2b9727b573d8f";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>